html {
  font-size: 15px; }

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  background-color: #1f1f1f; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

.conteiner {
  width: 100%;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto; }

@media screen and (min-width: 576px) {
  .conteiner {
    max-width: 540px; } }

@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 720px; } }

@media screen and (min-width: 992px) {
  .conteiner {
    max-width: 960px; } }

@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px; } }

.header {
  padding: 1.2rem 0; }

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center; }
