.entry {
  padding-top: 13rem;
}
.entry__content {
  display: flex;
}
.entry__inner {
  width: 60%;
}
.entry__img {
  width: 40%;
}
.entry__biglogo {
  display: flex;
}
.entry__biglogo--strght {
  font-size: 6rem;
  font-weight: 700;
  color: $rad;
  text-transform: uppercase;
  margin-right: 30px;
}
.entry__biglogo--rotate {
  color: $white;
  font-weight: 700;
  font-size: 1.3rem;
  transform: rotate(-90deg);
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin-top: -10px;
}
.entry__littlelogo {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: $white;
  font-weight: 700;
}
.entry__deskription {
  font-size: 1.5rem;
  font-weight: 400;
  color: $gray;
  margin-top: 1.6rem;
}
.entry__contact {
  display: flex;
  text-align: center;
  font-size: 1rem;
  bottom: 140px;
  justify-content: center;
  margin-top: 100px;
}
.entry__tel {
  margin-right: 4rem;
  & a {
    color: $white;
    text-decoration: none;
    padding: 0 2px;
    font-weight: 700;
    transition: 250ms;
    &:hover {
      color: $rad;
    }
  }
}
.entry__tel--text,
.entry__inst--text {
  padding: 0 2px;
  color: $rad;
  font-weight: 700;
}
.entry__inst {
  margin-left: 4rem;
}
