@charset "UTF-8";
html {
  font-size: 15px; }

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: #1f1f1f; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

.conteiner {
  width: 100%;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto; }

@media screen and (min-width: 576px) {
  .conteiner {
    max-width: 540px; } }

@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 720px; } }

@media screen and (min-width: 992px) {
  .conteiner {
    max-width: 960px; } }

@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px; } }

.header {
  padding: 1.2rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50; }

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #202020;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.45); }

.header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  height: 70px; }

.logo a {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none; }
  .logo a span {
    color: #f13f3f;
    text-transform: uppercase;
    font-size: 1.5rem; }

.content {
  padding-top: 120px; }

.nav__button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer; }
  .nav__button:hover .nav__burger span,
  .nav__button:hover .nav__burger::after {
    width: 100%; }

.nav__burger.active {
  right: 105px;
  transition: all 0.3s; }

.nav__burger.active::before {
  transform: rotate(45deg);
  top: 9px;
  width: 100%; }

.nav__burger.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
  width: 100%; }

.nav__burger.active span {
  transform: scale(0); }

.nav__burger {
  display: block;
  position: relative;
  width: 40px;
  height: 20px;
  transition: all 0.5s; }
  .nav__burger span {
    position: absolute;
    background-color: #f13f3f;
    left: 0;
    width: 30px;
    height: 2px;
    bottom: 9px;
    transition: all 0.3s; }

.nav__burger::before {
  content: '';
  background-color: #f13f3f;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s; }

.nav__burger::after {
  content: '';
  background-color: #f13f3f;
  position: absolute;
  width: 20px;
  height: 2px;
  left: 0;
  transition: all 0.3s; }

.nav__burger::before {
  top: 0; }

.nav__burger::after {
  bottom: 0; }

.nav {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 125px;
  background-color: #202020;
  z-index: 1000;
  width: 330px;
  left: auto;
  transform: translateX(100%);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.45);
  transition: 0.5s; }

.nav.active {
  transform: translateX(0); }

@media screen and (min-width: 1000px) {
  .nav__list {
    padding-inline-start: 0;
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.06); }
    .nav__list li {
      border-top: 1px solid rgba(255, 255, 255, 0.06);
      letter-spacing: 0.05em;
      list-style: none;
      padding: 19px 30px 19px 40px; }
  .nav__link {
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.3s; }
    .nav__link:hover {
      color: #f13f3f; } }

.entry {
  padding-top: 13rem; }

.entry__content {
  display: flex; }

.entry__inner {
  width: 60%; }

.entry__img {
  width: 40%; }

.entry__biglogo {
  display: flex; }

.entry__biglogo--strght {
  font-size: 6rem;
  font-weight: 700;
  color: #f13f3f;
  text-transform: uppercase;
  margin-right: 30px; }

.entry__biglogo--rotate {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.3rem;
  transform: rotate(-90deg);
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin-top: -10px; }

.entry__littlelogo {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700; }

.entry__deskription {
  font-size: 1.5rem;
  font-weight: 400;
  color: #9b9b9b;
  margin-top: 1.6rem;
  margin-bottom: 2.7rem; }

.entry__contact {
  display: flex;
  text-align: center;
  font-size: 1rem;
  bottom: 140px;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px; }

.entry__tel {
  margin-right: 4rem; }
  .entry__tel a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 2px;
    font-weight: 700;
    transition: 250ms; }
    .entry__tel a:hover {
      color: #f13f3f; }

.entry__tel--text,
.entry__inst--text {
  padding: 0 2px;
  color: #f13f3f;
  font-weight: 700; }

.entry__inst {
  display: flex;
  margin-left: 4rem;
  text-align: center; }
  .entry__inst a {
    transform: translateY(-8px);
    padding: 0 2px;
    transition: 500ms; }

.inst__icon {
  transition: 500ms; }
  .inst__icon:hover {
    width: 30px;
    height: 30px;
    transform: translateY(-10px); }

.about {
  padding: 7.7rem 0;
  position: relative; }

.red__line span {
  position: absolute;
  display: block;
  left: 34%;
  width: 35px;
  border-bottom: 1px solid #f13f3f; }

.about__content {
  display: flex; }

.about__galeri {
  width: 60%;
  padding: 0 1rem; }

.about__description {
  width: 40%;
  padding: 0 1rem; }

.about__tittle {
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.25; }
  .about__tittle::before {
    position: absolute;
    content: '';
    border-left: 1px solid #f13f3f;
    height: 35px;
    top: 12px;
    left: -31px; }

.about__wtext {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
  margin-top: 40px; }

.about__gtext {
  color: #9b9b9b;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
  line-height: 1.4; }

.about__galeri {
  position: relative; }
  .about__galeri img {
    display: inline-block;
    max-width: 100%;
    padding: 0 1rem; }

.about__img--1 {
  margin-bottom: 70px; }

.text__90 {
  position: absolute;
  right: 70px;
  bottom: 50px;
  font-size: 21px;
  font-weight: 700;
  color: #787878;
  text-transform: uppercase;
  transform: rotate(-90deg); }

.about__social {
  margin-top: 7rem;
  text-align: right; }

.about__social--img {
  transition: 250ms; }
  .about__social--img:hover {
    transform: translateY(-10px) translatex(10px);
    width: 60px;
    height: 60px; }

.work {
  padding: 7.7rem 0; }

.work__content {
  display: flex;
  padding-left: 30px; }

.work__description {
  width: 60%;
  padding: 0 1rem; }

.work__img {
  width: 40%;
  padding: 0 1rem; }

.work__header {
  position: relative;
  font-size: 3rem;
  line-height: 1.25;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700; }
  .work__header::before {
    position: absolute;
    content: '';
    border-left: 1px solid #f13f3f;
    height: 35px;
    top: 13px;
    left: -17px; }

.work__works {
  display: flex;
  flex-wrap: wrap;
  padding-left: 3rem;
  margin-top: 30px; }

.work__works--description {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
  max-width: 50%;
  text-align: left; }

.work__works--header {
  display: flex;
  align-items: center; }

.works__header--text {
  margin-left: 1rem;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase; }
  .works__header--text a {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: 250ms; }
    .works__header--text a:hover {
      color: #f13f3f; }

.work__works--text {
  margin-top: 22px;
  color: #9b9b9b; }
  .work__works--text p {
    margin: 0; }

.work__img {
  position: relative; }
  .work__img img {
    position: absolute;
    top: -110px;
    opacity: 0.5; }

.my_page {
  padding: 7.7rem 0; }

.my_page__header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center; }

.my_page__redline {
  position: relative; }
  .my_page__redline span {
    position: absolute;
    display: block;
    border-bottom: 1px solid #f13f3f;
    width: 35px;
    left: 63%;
    bottom: -40px; }

.my_page__content {
  width: 400px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto; }

.my_page__contentbox {
  overflow: hidden;
  position: relative;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.28);
  border-bottom: 3px solid #f13f3f; }

.my_page__description {
  position: absolute;
  padding: 25px 15px 5px;
  left: 0;
  bottom: -45px;
  right: 0;
  background-color: #1d1d1d;
  box-shadow: 0 3px 0 0 #f13f3f;
  transition: all 0.7s; }
  .my_page__description p {
    margin-top: 1rem;
    color: #9b9b9b; }

.my_page__description:hover {
  bottom: 0; }

.my_page__tittle {
  font-weight: 700;
  color: #ffffff;
  font-size: 24px; }

.my_page__social-ul {
  margin-top: 1.1rem;
  transition: all 0.7s;
  padding-inline-start: 0; }

.my_page__social-li {
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.social__fecebook {
  font-size: 21px;
  color: #f13f3f; }
  .social__fecebook::before {
    content: '\f099'; }

.social__twitter {
  font-size: 21px;
  color: #f13f3f; }
  .social__twitter::before {
    content: '\f099'; }

.social__instagram {
  font-size: 21px;
  color: #f13f3f; }
  .social__instagram::before {
    content: '\f099'; }

.social__pinterest {
  font-size: 21px;
  color: #f13f3f; }
  .social__pinterest::before {
    content: '\f099'; }

.redbutton {
  position: relative;
  padding: 11px 32px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none; }
  .redbutton::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 64%;
    height: 100%;
    background-color: #f13f3f;
    z-index: -1;
    transition: 250ms; }

.redbutton:hover::before {
  width: 100%; }
