@charset "UTF-8";
html {
  font-size: 15px; }

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  background-color: #1f1f1f; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

.conteiner {
  width: 100%;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto; }

@media screen and (min-width: 576px) {
  .conteiner {
    max-width: 540px; } }

@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 720px; } }

@media screen and (min-width: 992px) {
  .conteiner {
    max-width: 960px; } }

@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px; } }

.header {
  padding: 1.2rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50; }

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #202020;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.45); }

.header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  height: 70px; }

.logo a {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none; }
  .logo a span {
    color: #f13f3f;
    text-transform: uppercase;
    font-size: 1.5rem; }

.content {
  padding-top: 120px; }

.nav__button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer; }
  .nav__button:hover .nav__burger span,
  .nav__button:hover .nav__burger::after {
    width: 100%; }

.nav__burger.active {
  right: 105px;
  transition: all 0.3s; }

.nav__burger.active::before {
  transform: rotate(45deg);
  top: 9px;
  width: 100%; }

.nav__burger.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
  width: 100%; }

.nav__burger.active span {
  transform: scale(0); }

.nav__burger {
  display: block;
  position: relative;
  width: 40px;
  height: 20px;
  transition: all 0.5s; }
  .nav__burger span {
    position: absolute;
    background-color: #f13f3f;
    left: 0;
    width: 30px;
    height: 2px;
    bottom: 9px;
    transition: all 0.3s; }

.nav__burger::before {
  content: '';
  background-color: #f13f3f;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s; }

.nav__burger::after {
  content: '';
  background-color: #f13f3f;
  position: absolute;
  width: 20px;
  height: 2px;
  left: 0;
  transition: all 0.3s; }

.nav__burger::before {
  top: 0; }

.nav__burger::after {
  bottom: 0; }

.nav {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 125px;
  background-color: #202020;
  z-index: 1000;
  width: 330px;
  left: auto;
  transform: translateX(100%);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.45);
  transition: 0.5s; }

.nav.active {
  transform: translateX(0); }

@media screen and (min-width: 1000px) {
  .nav__list {
    padding-inline-start: 0;
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.06); }
    .nav__list li {
      border-top: 1px solid rgba(255, 255, 255, 0.06);
      letter-spacing: 0.05em;
      list-style: none;
      padding: 19px 30px 19px 40px; }
  .nav__link {
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.3s; }
    .nav__link:hover {
      color: #f13f3f; } }

.entry {
  padding-top: 13rem; }

.entry__content {
  display: flex; }

.entry__inner {
  width: 60%; }

.entry__img {
  width: 40%; }

.entry__biglogo {
  display: flex; }

.entry__biglogo--strght {
  font-size: 6rem;
  font-weight: 700;
  color: #f13f3f;
  text-transform: uppercase;
  margin-right: 30px; }

.entry__biglogo--rotate {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.3rem;
  transform: rotate(-90deg);
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin-top: -10px; }

.entry__littlelogo {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700; }

.entry__deskription {
  font-size: 1.5rem;
  font-weight: 400;
  color: #9b9b9b;
  margin-top: 1.6rem; }

.entry__contact {
  display: flex;
  text-align: center;
  font-size: 1rem;
  bottom: 140px;
  justify-content: center;
  margin-top: 100px; }

.entry__tel {
  margin-right: 4rem; }
  .entry__tel a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 2px;
    font-weight: 700;
    transition: 250ms; }
    .entry__tel a:hover {
      color: #f13f3f; }

.entry__tel--text,
.entry__inst--text {
  padding: 0 2px;
  color: #f13f3f;
  font-weight: 700; }

.entry__inst {
  margin-left: 4rem; }

.button {
  margin-top: 2.7rem; }

.redbutton {
  position: relative;
  padding: 11px 32px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none; }
  .redbutton::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 64%;
    height: 100%;
    background-color: #f13f3f;
    z-index: -1;
    transition: 250ms; }

.redbutton:hover::before {
  width: 100%; }
